<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/hoteles_eventos?zeroDateTimeBehavior=convertToNull</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.show_sql">true</property>
    <property name="hibernate.format_sql">true</property>
    <property name="hibernate.current_session_context_class">thread</property>
    <property name="hibernate.hbm2ddl.auto">update</property>
    <mapping resource="Entity/Administrador.hbm.xml"/>
    <mapping resource="Entity/Empresa.hbm.xml"/>
    <mapping resource="Entity/Reservacion.hbm.xml"/>
    <mapping resource="Entity/Espacio.hbm.xml"/>
    <mapping resource="Entity/Usuario.hbm.xml"/>
    <mapping resource="Entity/Ejecutivo.hbm.xml"/>
    <mapping resource="Entity/Sucursal.hbm.xml"/>
    <mapping resource="Entity/Persona.hbm.xml"/>
    <mapping resource="Entity/Calificacion.hbm.xml"/>
    <mapping resource="Entity/Centroeventos.hbm.xml"/>
    <mapping resource="Entity/Cliente.hbm.xml"/>
    <mapping resource="Entity/Hotel.hbm.xml"/>
    <mapping resource="Entity/Habitacion.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
